@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/INTERREGULAR.ttf");
  font-family: "Inter";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/MERRIWEATHERREGULAR.ttf");
  font-family: "Merriweather";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/MERRIWEATHERSANSREGULAR.ttf");
  font-family: "Merriweather Sans";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/INTERSEMIBOLD.ttf");
  font-family: "Inter";
  font-weight: 600;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/INTERMEDIUM.ttf");
  font-family: "Inter";
  font-weight: 500;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/MONTSERRATREGULAR.ttf");
  font-family: "Montserrat";
  font-weight: 400;
}
